* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

        /******* nav bar con jumbotron *******/

.header{
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: blue;
width: 100%;
height: 95vh;
}

.nav-bar{
    justify-content: space-between;
    display: flex;
    background-color: aqua;
    width: 100%;
    height: 10%;
}

.jumbotron{
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    width:75% ;
    height: 80%;
}
.jumbotron h1{
    font-size: 90px;
    height: 35%;
}

.left-box{
    width: 35%;
     background-color:
     blueviolet;
     height: 65%;
}

.img{
    height: 78%;
    width:65% ;
    background-color: blanchedalmond;
}